body {
    margin: 0;
    min-width: 0vh;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    background-size: cover;
    position: center;
    transition: background-color 0.5s;
}
.iphone {
    position: relative;
}
.iphone h1 {
  color: #ffffff;
  text-shadow: 0.1px 1px 10px rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  position: absolute;
  white-space: nowrap; /* Perbaikan di sini */
  top: -340px;
  left: -140px;
  z-index: 300;
}
.screen {
   background: url(https://i.ibb.co/7zrtwsd/Hello-i-OS-15-Wallpapers-Central.jpg) center center no-repeat;
   background-size: cover;
   width: 230px;
   height: 480px;
   border: 7px solid;
   border-radius: 30px;
   border-color: rgb(43, 39, 39);
   overflow: hidden;
   position: absolute;
   top: -250px;
   left: -120px;
   z-index: 2;
   transition: background-image 1s ease-in-out;
   filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}  

.frontcam { /*  KAMERA DEPAN */
    background: rgb(0, 0, 0);
    width: 75px;
    height: 20px;
    border-radius: 10px;
    transform: rotate(180deg);
    position: absolute;
    top: -239px;
    left: -35px;
    z-index: 3;
}  
.backside {
    background: rgb(255, 255, 255);
    width: 233px;
    height: 483px;
    position: absolute;
    top: -250.90px;
    left: -120.75px;
    z-index: 1;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 2px 1px 10px rgb(255, 255, 255);
    opacity: 0.8;
}
.widget { 
    position: absolute;
    top: 180px;
    left: -109.70px;
    z-index: 4;
    opacity: 100%;
    cursor: pointer;
}
.widget img { /* PADLOCK */
    position: absolute;
    top: -414.50px;
    left: 81.20px;
    z-index: 6;
    cursor: pointer;
}
.signal img {  /* SINYAL */
    position: absolute;
    top: -236.50px;
    left: 58.20px;
    z-index: 200; 
    cursor: pointer;         
}
.wifi img {  /* WIFI */
    position: absolute;
    top: -236.50px;
    left: 73.90px;
    z-index: 200; 
    cursor: pointer;            
}
.battery img { /* BATTERY */
    width: 15px;
    height: 15px;
    position: absolute;
    top: -238.60px;
    left: 88.20px;
    z-index: 200; 
    cursor: pointer;           
}
.flashlight img {
    width: 24px;
    position: relative;
    top: 2.-50px;
    left: .-20px;
    z-index: 200;
}
.flashlight {
    width: 41px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0.338); /* Warna latar belakang */
    border-radius: 50%; /* Membuat elemen menjadi bulat dengan border-radius 50% */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 173px;
    left: -100px;
    z-index: 200;
    cursor: pointer;
}
.flashlight.light-on {
    opacity: 1;
    box-shadow: 0 0 40px rgb(0, 0, 0); /* Adjust the color and intensity of the light */
    filter: invert(100%);
}
.hocam img {
    width: 24px;
    position: relative;
    top: 2.-0px;
    left: .-20px;
    z-index: 200;
}
.hocam {
    width: 41px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0.338); /* Warna latar belakang */
    border-radius: 50%; /* Membuat elemen menjadi bulat dengan border-radius 50% */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 173px;
    left: 60px;
    z-index: 200;
    cursor: pointer;
}
.clock-container {
 font-family: "Poppins", sans-serif;
 font-weight: 600;
 font-style: normal;
 color: #fdfff5;
 font-size: 50px;
 transition: transform 0.3s ease-in-out;
 position: absolute;
 top: -141px;
 left: 5%;
 transform: translate(-50%, -50%);
 z-index: 200;
 cursor: pointer;
 filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.date-container {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
color: #fdfff5;
white-space: nowrap;
font-size: 12px;
position: absolute;
top: -194px; /* Sesuaikan dengan posisi yang diinginkan */
left: 5%; /* Sesuaikan dengan posisi yang diinginkan */
transform: translate(-50%, -50%);
z-index: 200;
cursor: pointer;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.gesture-bar {
font-family: "Poppins", sans-serif;
position: fixed;
bottom:2.50px;
left: 0;
width: 100%;
height: 21.90px;
background-color: transparent;
border-top: 0px solid #ccc;
text-shadow: 2px 1px 2px rgb(255, 255, 255);
display: flex;
justify-content: space-around;
align-items: center;
font-size: 14px;
color: #333;
cursor: progress;
z-index: 200;
}
.gesture-button {
width: 25%;
text-align: center;
padding: 5px 0;
cursor: pointer;
}
.gesture-strip {
justify-items: center;
align-items: center;
background: rgb(255, 255, 255);
width: 100px;
height: 4px;
display: flex;
border-radius: 20px;
position: absolute;
top: 4%;
left: 5%;
transform: translate(-49%, 5650%);
z-index: 800;
cursor: pointer;
}
.gesture-strip::after {
content: "";
position: absolute;
width: 100px;
height: 4px;
background: black;
border-radius: 10px;
transform-origin: right;
transform: scaleX(0);
transition: transform 1s;
}
.gesture-strip:hover::after {
transform: scaleX(1);
transform-origin: left;
}

#assistiveTouch {
    position: fixed;
    bottom: 25px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-size: 40px;
    background: url();
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 500;
    transition-property: box-shadow;
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}    
#assistiveTouch:hover {
    box-shadow: 0px 0px 5px white,
                0px 0px 30px white,
                0px 0px 90px white;
} 
/*Pusat Pemberitahuan*/
.centerInfo p {
color: rgb(255, 255, 255);
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 12px;
white-space: nowrap;
position: absolute;
top: -100.50px;
left: -106px;
z-index: 400;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.boxsInfo {
background-color: #ffffff; /* Set a contrasting background color */
color: black;
display: flex;
justify-content: center;
align-items: center;
width: 214px; /* Increase the width */
height: 45px; /* Increase the height */
position: absolute;
top: -60px;
left: -105.50px;
border-radius: 11px;
opacity: 0.9;
z-index: 900;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.boxs1 {
background-color: #ffffff; /* Set a contrasting background color */
color: black;
display: flex;
justify-content: center;
align-items: center;
width: 214px; /* Increase the width */
height: 45px; /* Increase the height */
position: absolute;
top: -10px;
left: -105.50px;
border-radius: 15px;
opacity: 0.9;
z-index: 901;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
/*Mobile Legend*/
.bx {
display: flex; /* Make it a block-level element */
width: 35px; /* Set the width */
height: 35px; /* Set the height */
background: url(https://play-lh.googleusercontent.com/uWB-6_gXKU86gW8xsaDuuKL8fFPF3KqsRbsTMRnOzvsbd2YJM6dDtqL5XOHhr9AFgDw=w240-h480-rw) center center no-repeat;
background-size: cover; /* Ensure the image covers the container */
border-radius: 11px; /* Add border-radius for rounded corners */
margin: 20px; /* Add margin for spacing */
transition: transform 0.3s ease-in-out; /* Add a transition effect for hover */
position: absolute;
left: -14px;
cursor: pointer;
filter:blur(0.9px)
}
.bx:hover {
transform: scale(1.05);
filter: blur(0);
}
.bx-t {
color: #191B1A;
font-family: "Poppins", sans-serif;
font-style: normal;
font-size: 9.50px;
position: absolute;
top: -2px;
left: 40px;
white-space: nowrap;
}
.bx-te {
color: #191B1A;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 10px;
position: absolute;
top: 9px;
left: 40px;
white-space: nowrap;
}
.bx-tex {
color: #191B1A;
font-family: "Poppins", sans-serif;
font-style: normal;
font-size: 9.50px;
position: absolute;
top: 21px;
left: 40px;
white-space: nowrap;
opacity: 0.7;
}
.bx-text {
color: #191B1A;
font-family: "Poppins", sans-serif;
font-style: normal;
font-size: 9.50px;
position: absolute;
top: -2.50px;
left: 171px;
white-space: nowrap;
opacity: 0.7;
}
/*Free Fire*/
.bx1 {
display: flex;
width: 35px;
height: 35px;
background: url(https://play-lh.googleusercontent.com/tM5rMqMkOPMyuRX_zKTWeVV6U2BvU2cMBILZmuIgjX_z9it3R_3aZZ0HwRLgxjvGGQ=w480-h960-rw) center center no-repeat;
background-size: cover;
border-radius: 11px;
margin: 20px;
transition: transform 0.3s ease-in-out;
position: absolute;
left: -14px;
cursor: pointer;
filter: blur(0.9px)
}

.bx1:hover {
transform: scale(1.05);
filter: blur(0);
}
.bx1-t {
color: #191B1A;
font-family: "Poppins", sans-serif;
font-style: normal;
font-size: 9.50px;
position: absolute;
top: -2px;
left: 40px;
white-space: nowrap;
}

.bx1-te {
color: #191B1A;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 10px;
position: absolute;
top: 9px;
left: 40px;
white-space: nowrap;
}

.bx1-tex {
color: #191B1A;
font-family: "Poppins", sans-serif;
font-style: normal;
font-size: 9.50px;
position: absolute;
top: 22px;
left: 40px;
white-space: nowrap;
opacity: 0.7;
}

.bx1-text {
color: #191B1A;
font-family: "Poppins", sans-serif;
font-style: normal;
font-size: 9.50px;
position: absolute;
top: -2.50px;
left: 171px;
white-space: nowrap;
opacity: 0.7;
}
/*loading screen style */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; /* Set the background color as desired */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#loading-bar-container {
    width: 60%;
    margin: 20px auto;
    border: 01px solid rgb(207, 207, 207);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#loading-bar {
    width: 0;
    height: 15px;
    text-align: center;
    line-height: 20px;
    color: white;
    transition: width 0.5s ease-in-out, background 0.5s ease-in-out; /* Added background transition */
    border-radius: 10px;
    font-size: 10px;
    background: linear-gradient(to right, #ffee00, #ff9500);
    box-shadow: 0px 0px 5px rgb(255, 0, 0),
                0px 0px 40px rgb(255, 136, 0),
                0px 0px 90px white;
}

#loading-text {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 12px;
}
